.gridOne{
    height: 370px;
    width: 370px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    margin-inline: 15px;
}

.grid-div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AAAEB3;
    border-radius: 5px;
    color: #AAAEB3;
}